@font-face {
    font-family: satoshi;
    src: url(../assets/Satoshi-Regular.ttf);
}
@font-face {
    font-family: open_sans;
    src: url(../assets/OpenSans-VariableFont_wdth\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: open_sans;
}

html, body{
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    cursor: grab;
}
#overlay{
    cursor: default;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    z-index:500;
    display: none;
    position: absolute !important;
    height: 250px;
    width: 200px;
    background-color: white;
    border: 0 0 1px 1px  solid black;
    padding-top: .5em;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    padding: .5em  .4em .4em;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
h3{
    font-family: satoshi;
    text-decoration: underline;
    text-align: center;
    user-select: none;
}
.one_app{
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    margin-top: .4rem;
    align-items: center;
}
.one_app > :nth-child(2){
    text-align: center;
}
.one_app >:first-child{
    justify-items: end;
}
.one_app >:last-child{
    justify-items: start;
}
.one_app{
    text-align: center;
}
.one_app > p, pre{
    user-select: none;
}
p{
    white-space: nowrap;
}
a{
    cursor: pointer;
    background-color: #2191FB;
    border: none;
    border-radius: 2rem;
    color: white;
    white-space: nowrap;
    text-decoration: none;
    padding: .1em .2em;
    text-align: center;
}
a, p{
    font-size: .7rem;
}
.links > a{
    display: table;
    margin: 0 auto;
    margin-top: .4rem;
}

.email{
    margin: 0 auto;
    width: 9rem;
    height: 1.5em;
    background-color: whitesmoke;
    display: flex;
    margin-top: .4rem;
    // padding: .5em 0;
    border-radius: .4rem;
}
.email_one{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
.email_one > h4{
    color: grey;
    font-size: .6em;
    width: 80%;
}
.email_two{
    cursor: pointer;
    width: 20%;
    height: 100%;
    background-color: #2191FB;
    border-bottom-right-radius:.4rem ;
    border-top-right-radius: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.email_two > img{
    user-select: none;
    pointer-events: none;
    height: 1rem;
    width: 1rem;
}

.show_resume{
    z-index: 1001;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: 70vh;
    border-radius: .5rem;
    padding: .5em  .4em .4em;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width: 50vw;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
.pdfBtns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}
.pdfBtns > a{
    background-color: transparent;
    color: #2191FB;
    text-decoration: underline;
}

.bar_div{
    display: none
}
label{
    color: white;
    position: relative;
    top: -1rem;
    position: absolute;
    left: 50%;
    top: 89%;
    transform: translate(-50%, -50%);
    font-family: satoshi;
}
#progress_bar{
    width: 12rem;
    height: 1.8rem;
    position: absolute;
    left: 50%;
    top: 92%;
    transform: translate(-50%, -50%);
    // color: #2191FB;
    margin-top: 0.5%;
    accent-color: #FFCF00;
}
@keyframes moveGesture {
    0% {
        left: 50%;
        top: 50%;
    }

    20% {
        left: 40%;
        top: 50%;
    }

    40% {
        left: 60%;
        top: 50%;
    }

    60% {
        left: 50%;
        top: 40%;
    }

    80% {
        left: 50%;
        top: 60%;
    }

    100% {
        left: 50%;
        top: 50%;
    }
}

#handGesture{
    height: 20vh;
    width: 20vw;
    pointer-events: none;
    position: absolute;
    filter: brightness(0) invert(1);
    transform: translate(-50%, -50%);
    // animation: moveGesture 5s infinite;
}

// #renderer{
// }
//  #cssRenderer{
//      position: absolute;
//      top: 0;
//      right: 0;
//      background-color: orange;
//      opacity: .2;
//      user-select: none;
//      pointer-events: none;
//  } 
#screen_one{
    display: none;
}
#screen_two{
    display: none;
}